---
---
<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-yellow-200 prose-a:hover:text-yellow-100 prose-a:transition-colors prose-a:no-underline prose-p:text-justify prose-img:rounded-xl
  prose-headings:no-underline">
  <slot />
</div>