---
---
<div
  class="prose dark:prose-invert
  prose-a:text-teal-700 prose-a:dark:text-yellow-200 prose-a:hover:text-yellow-100 prose-a:transition-colors prose-a:no-underline 
  prose-p:text-justify
  prose-img:rounded-xl
  prose-ul:list-disc
  prose-li:text-gray-900 prose-li:dark:text-gray-100
  prose-headings:no-underline">
  <slot />
</div>