---
---
<div
  class="prose dark:prose-invert
  prose-a:text-teal-700 dark:text-yellow-200 prose-a:hover:text-yellow-100 prose-a:transition-colors prose-a:no-underline prose-p:text-justify prose-img:rounded-xl
  prose-ul:list-disc
  prose-headings:no-underline">
  <slot />
</div>